.main-content {
  max-width: 1700px;
  width: 90%;
  display: flex;
  margin: auto;
  flex-wrap : wrap;
  justify-content: center;
}

.sidebar {
  width: 25%;
  min-width: 200px;
  margin-bottom: 20px;
}

.main-right {
  font-family: Arial;
  margin: 1% 0 0 1%;
  width: 74%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.money-info-container {
  min-width: 350px;
  display: flex;
  width: 48%;
  flex-direction: column;
}
.money-info-card {
  width: 98%;
  background: #e8e8e8;
  border-radius: 75px;
  border-bottom-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
}

.money-info-card img {
  width: 200px;
  height: 200px;
}

.money-info-container h4 {
  margin-top: 5px;
  font-size: 1.3em;
}

.money-info-card h1 {
  margin-top: 30px;
  text-align: center;
}

ol {
  font-size: 1.2em;
}

.ol-tag-week {
  border-bottom-right-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 65%;
  color: #fff;
  background-color: #fb654e;
}

.ol-tag-day {
  border-bottom-right-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 55%;
  color: #fff;
  background-color: mediumslateblue;
}


@media only screen and (max-width: 1300px) {
  .main-right {
    width: 85%;
    justify-content: center;
  }

  .money-info-card img {
    width: 150px;
    height: 150px;
  }

  .money-info-card h1 {
    margin-top: 10px;
    font-size: 1.8em;
  }

  .money-info-card h3 {
    font-size: 1.4em;
  }

  .money-info-container h4 {
    margin-top: 5px;
    font-size: 1.1em;
  }

  .ol-tag-week {
    width: 75%;
  }

  .ol-tag-day {
    width: 65%;
  }

}

@media only screen and (max-width: 768px) {
  .main-right {
    width: 95%;
    justify-content: center;
  }

  .money-info-card img {
    width: 100px;
    height: 100px;
  }

  
}