.main-right {
  font-family: Arial;
  margin: 1% 0 0 1%;
  width: 74%;
  display: flex;
  flex-wrap: wrap;
}

.harcama-yap {
  width: 45%;
  margin: 10px;
  min-width: 300px;
}

.harcama-yap h5{
  margin-bottom:23px;
}

@media only screen and (max-width: 768px) {
  .main-right {
    width: 95%;
    justify-content: center;
  }

  .hesaplar {
    width: 90%;
  }
}

