.main-content {
  max-width: 1700px;
  width: 90%;
  display: flex;
  margin: auto;
}

.sidebar {
  width: 25%;
}

.main-right {
  font-family: Arial;
  margin: 2% 0 0 2%;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.harcama-yap {
  width: 40%;
  margin: 10px;
  min-width: 200px;
}
