.main-content {
  max-width: 1700px;
  display: flex;
  margin: auto;
}

.sidebar {
  width: 25%;
}

.main-right {
  margin: 2% 0 0 2%;
  width: 75%;
}

.circle-card {
  width: 300px;
  height: 300px;
  background: #e8e8e8;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  margin: 10px;
  display: inline-block;
  -webkit-box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
}

.circle-card img {
  margin: 30px 0 0 97px;
  width: 106px;
  height: 106px;
}

.circle-card h4 {
  margin-top: 5px;
  text-align: center;
}

.circle-card h1 {
  margin-top: 30px;
  text-align: center;
}


