.main-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1% 0 0 1%;
  width: 74%;
}
            
.circle-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 10px;
  background: #e8e8e8;
  border-radius: 100%;
  -webkit-box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 11px 14px 37px -19px rgba(0, 0, 0, 0.75);
}

.circle-card img {
  width: 106px;
  height: 106px;
}

.circle-card h4 {
  margin-top: 5px;
  text-align: center;
}

.circle-card h1 {
  margin-top: 30px;
  text-align: center;
}


@media only screen and (max-width: 1366px) {
  .circle-card{
    width: 250px;
    height: 250px;
  }
  .circle-card img {
    width: 90px;
    height: 90px;
  }

  .circle-card h4 {
    font-size: 1.3em;
    margin-top: 5px;
  }
  
  .circle-card h1 {
    font-size: 1.6em;
    margin-top: 15px;
  }

  

}

@media only screen and (max-width: 768px) {
  .main-content{
    width:100%;
  }

  .main-right {
    width: 100%;
    justify-content: center;
  }

  .circle-card{
    width: 190px;
    height: 190px;
  }

  .circle-card img {
    width: 70px;
    height: 70px;
  }

  
}